@use "../../../variables.scss";

.about-me {
    width: 100%;
    padding: 1rem 2rem;
    background: green;
    display: flex;
    align-items: center;
    flex-direction: column;

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: blue;

        .quote-wrapper-top {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        .quote-wrapper-bottom {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }

        .quote {
            width: 30rem;
            display: inline;
            background: white;
            text-align: center;
            border: .3rem solid black;
            border-radius: 2rem;
            padding: 1rem;

            .text {
                display: inline;
                margin: 0rem .5rem;
            }

            .punctuation {
                font-size: 1.5rem;
                vertical-align: top;
            }
        }

        .description-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: purple;

            .description {
                padding: 1rem 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4rem;

                .img {
                    width: 20rem;
                    height: 20rem;
                }

                .description-text {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50%;
                }
            }

        }
    }
}

@media screen and (max-width: 50rem) {

    // 800px
    .about-me {
        .content {
            padding: 1rem 0rem;
            gap: 1rem;
            .description-wrapper {
                gap: 2rem;
                .description {
                    flex-wrap: wrap;
                    display: flex;
                    justify-content: center;
                    padding: unset;

                    .img {}

                    .description-text {
                        width: 80%;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 34.375rem) {

    // 550px

}

@media screen and (max-width: 31.25rem) {

    // 500px

}

@media screen and (max-width: 28.125rem) {

    // 400px
}