@use "../../../variables.scss";

.about-me {
    position: relative;
    z-index: 2;
    background: variables.$backgroundAlternative;
    width: 100%;
    padding: variables.$paddingSections;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: variables.$box-shadow;

    .content {
        @include variables.flexColumn;
        width: 100%;
        height: 100%;

        &.hidden {
            opacity: 0;
            filter: blur(.3rem);
            transform: translateX(-10%);
            transition: all 1s;
        }

        &.show {
            filter: blur(0);
            transform: translateX(0);
            opacity: 1;
        }

        @media(prefers-reduced-motion) {
            &.hidden {
                transition: none;
            }
        }

        .quote-wrapper-top {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding-left: 5rem;
        }

        .quote-wrapper-bottom {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding-right: 5rem;
        }

        .quote {
            width: 30rem;
            display: inline;
            background: transparent;
            text-align: center;
            border-radius: 2rem;
            padding: 1rem;

            .text {
                color: variables.$colorText;
                display: inline;
                margin: 0rem .5rem;
            }

            .punctuation {
                color: variables.$colorText;
                font-size: 1.5rem;
                vertical-align: top;
            }
        }

        .description-wrapper {
            @include variables.flexColumn;

            .description {
                padding: 1rem 2rem;
                @include variables.flexCenter;
                gap: 4rem;

                .img {
                    width: 20rem;
                    height: 20rem;
                    border-radius: 2rem;
                }

                .description-text {
                    color: variables.$colorText;
                    @include variables.flexCenter;
                    width: 50%;
                }
            }
        }
    }
}

@media screen and (max-width: 65.625rem) {

    //1050
    .about-me {

        .content {

            .quote-wrapper-top {
                padding-left: 3rem;
            }

            .quote-wrapper-bottom {
                padding-right: 3rem;
            }
        }
    }
}

@media screen and (max-width: 50rem) {

    // 800px

    .about-me {
        padding: 1rem 0rem;
        gap: 1rem;

        .content {
            .quote-wrapper-top {
                @include variables.flexCenter;
                padding-left: unset;
            }

            .quote {
                .text {
                    font-size: 1.5rem;

                    &.second {
                        display: none;
                    }
                }

                .punctuation {
                    font-size: 1.2rem;

                    &.second {
                        display: none;
                    }
                }
            }

            .description-wrapper {
                gap: 2rem;

                .description {
                    flex-wrap: wrap;
                    display: flex;
                    justify-content: center;
                    gap: 2rem;
                    padding: unset;

                    .img {}

                    .description-text {
                        width: 80%;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 37.5rem) {

    //600
    .about-me {
        .content {
            .quote {
                .text {
                    font-size: 1.5rem;
                }

                .punctuation {
                    font-size: 1.2rem;
                }
            }

            .description-wrapper {
                .description {
                    .description-text {
                        width: 93%;
                    }
                }
            }
        }
    }
}
