<section id="about-me" class="about-me">
    <app-title-bar [title]="data['title']"></app-title-bar>
    <div class="content hidden" #content>
        <div class="quote-wrapper-top">
            <div class="quote">
                <i class="fa-solid fa-quote-left punctuation"></i>
                <p class="text">{{data["quote1"]}}</p>
                <i class="fa-solid fa-quote-right punctuation"></i>
            </div>
        </div>
        <summary class="description-wrapper">
            <div class="description">
                <img class="img" alt="" src="">
                <p class="description-text">{{data["description"]}}</p>
            </div>
            <app-button [link]="data['btn-link']" [text]="data['btn-text']"></app-button>
        </summary>
        <div class="quote-wrapper-bottom">
            <div class="quote">
                <i class="fa-solid fa-quote-left punctuation second"></i>
                <p class="text second">{{data["quote2"]}}</p>
                <i class="fa-solid fa-quote-right punctuation second"></i>
            </div>
        </div>

    </div>
</section>