<section id="about-me" class="about-me">
    <app-title-bar [title]="data['title']"></app-title-bar>
    <div class="container">
        <div class="content">
            <h2 class="sub-title">
                {{data["personality"]["title"]}}
            </h2>
            <div class="content-wrapper personality">
                <summary class="description">
                    <p class="quote top"> <i class="fa-solid fa-quote-left punctuation"></i> {{data["personality"]["quote1"]}} <i class="fa-solid fa-quote-right punctuation"></i></p>
                    {{data["personality"]["description"]}}
                    <p class="quote bottom"><i class="fa-solid fa-quote-left punctuation"></i>{{data["personality"]["quote2"]}}<i class="fa-solid fa-quote-right punctuation"></i></p>
                </summary>
            </div>
        </div>
        <div class="content">
            <h2 class="sub-title">
                {{data["work-attitude"]["title"]}}
            </h2>
            <div class="content-wrapper work">
                <summary class="description">
                    {{data["work-attitude"]["description"]}}
                    <button class="download-btn">{{data["work-attitude"]["btn"]}}</button>
                </summary>
            </div>
        </div>
    </div>
</section>