<section id="about-me" class="about-me">
    <app-title-bar [title]="aboutMeData['title']"></app-title-bar>
    <div class="content hidden" #content>
        <div class="quote-wrapper-top">
            <div class="quote">
                <i class="fa-solid fa-quote-left punctuation"></i>
                <p class="text">{{aboutMeData["quote1"]}}</p>
                <i class="fa-solid fa-quote-right punctuation"></i>
            </div>
        </div>
        <summary class="description-wrapper">
            <div class="description">
                <img class="img" [alt]="aboutMeData['image']['alt']" [src]="aboutMeData['image']['src']">
                <p class="description-text">{{aboutMeData["description"]}}</p>
            </div>
            <app-button [link]="aboutMeData['btn-link']" [text]="aboutMeData['btn-text']"></app-button>
        </summary>
        <div class="quote-wrapper-bottom">
            <div class="quote">
                <i class="fa-solid fa-quote-left punctuation second"></i>
                <p class="text second">{{aboutMeData["quote2"]}}</p>
                <i class="fa-solid fa-quote-right punctuation second"></i>
            </div>
        </div>
    </div>
</section>