@use "../../../variables.scss";

.about-me {
    background: variables.$backgroundAlternative;
    width: 100%;
    padding: variables.$paddingSections;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: variables.$box-shadow;

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;


        .quote-wrapper-top {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding-left: 12rem;
        }

        .quote-wrapper-bottom {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding-right: 12rem;
        }

        .quote {
            width: 30rem;
            display: inline;
            background: transparent;
            text-align: center;
            border-radius: 2rem;
            padding: 1rem;

            .text {
                color: variables.$colorText;
                display: inline;
                margin: 0rem .5rem;
            }

            .punctuation {
                color: variables.$colorText;
                font-size: 1.5rem;
                vertical-align: top;
            }
        }

        .description-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .description {
                padding: 1rem 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4rem;

                .img {
                    width: 20rem;
                    height: 20rem;
                    border-radius: 2rem;
                }

                .description-text {
                    color: variables.$colorText;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50%;
                }
            }
        }
    }
}

@media screen and (max-width: 50rem) {

    // 800px

    .about-me {
        padding: 1rem 0rem;
            gap: 1rem;
        .content {
            .quote-wrapper-top {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: unset;
            }

            .quote-wrapper-bottom {}

            .quote {
                .text {
                    font-size: 1.5rem;
                        &.second{
                            display: none;
                        }
                }

                .punctuation {
                    font-size: 1.2rem;

                    &.second{
                        display: none;
                    }
                }
            }

            .description-wrapper {
                gap: 2rem;
                .description {
                    flex-wrap: wrap;
                    display: flex;
                    justify-content: center;
                    gap: 2rem;
                    padding: unset;
                    .img {}

                    .description-text {
                        width: 80%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 37.5rem) {

    //600
    .about-me {
        .content {
            .quote-wrapper-top {}

            .quote-wrapper-bottom {}

            .quote {
                .text {
                    font-size: 1.5rem;

                }

                .punctuation {
                    font-size: 1.2rem;
                }
            }

            .description-wrapper {
                .description {
                    .img {}

                    .description-text {}
                }
            }
        }
    }
}