<footer id="contact" #section class="contact hidden">
    <app-title-bar [title]="contactData['title']"></app-title-bar>
    <div class="container">
        <div class="contact-form-container">
            <img class="img" [src]="contactData['img']" [alt]="contactData['alt']">
        </div>
        <ul class="contact-info-container">
            <li class="contact-item subtitle">
                <h2 class="subtitle">
                    {{contactData['cta-title']}}
                </h2>
            </li>
            <li class="contact-item tel">{{ contactData['tel'] }}</li>
            <span class="divider"></span>
            <li class="contact-item email">
                <a class="link-to-email" [href]="contactData['link-to-mail']"> {{ contactData['email'] }} </a>
            </li>
            <li class="contact-item linked-in">
                <a class="contact-link" target="_blank" href="https://www.linkedin.com/in/milou-geervliet-b40029264/">{{ contactData['linked-in'] }}</a>
            </li>
        </ul>
    </div>
</footer>
