@use "../../../variables.scss";

.contact {
    padding: variables.$paddingSections;
    width: 100%;

    &.hidden{
        opacity: 0;
        filter: blur(.3rem);
        transform: translateY(10%);
        transition: all 1.5s;
    }

    &.show{
        filter: blur(0);
        transform: translateY(0);
        opacity: 1;
    }

    @media(prefers-reduced-motion){
        &.hidden{
            transition: none;
        }
    }

    .description{
        text-align: center;
        width: 100%;
        color: variables.$colorText;
    }

    .container {
        margin-top: 2rem;
        @include variables.flexCenter;
        flex-direction: row;
        gap: 4rem;

        .img{
            width: 30rem;
        }

        .contact-info-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 1rem;
            height: 4rem;

            .contact-item {
                color: variables.$colorText;
                list-style: none;
                padding: .5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .5rem;

                &.subtitle{
                    font-size: 90%;
                    color: variables.$colorHeader;
                }

                &.email {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: .5rem;
                }

                .icon{
                    width: 4rem;
                    height: 4rem;
                    &.phone{
                        width: 3.5rem;
                        height: 3.5rem;
                    }
                }

                .link-to-email {
                    color: variables.$colorText;
                    text-decoration: none;
                    border-bottom: .2rem solid variables.$colorText;
                }

                .contact-link {
                    color: variables.$colorText;
                    text-decoration: none;
                    border-bottom: .2rem solid variables.$colorText;
                }
            }
        }
    }
}


@media screen and (max-width:50rem) {

    //800px
    .contact {

        .container {


            .img{

            }

            .contact-info-container {
                flex-direction: column;
                height: unset;
                gap: .5rem;
                .contact-item {

                    &.subtitle{

                    }

                    &.email {

                    }

                    .icon{
                    }

                    .link-to-email {
                    }

                    .contact-link {
                    }
                }
            }
        }
    }
}

@media screen and (max-width:31.25rem) {

    //500px
    .contact {

        .container {


            .img{
                display: none;
            }

            .contact-info-container {
                gap: unset;
                .contact-item {
                    font-size: 1.6rem;
                    &.subtitle{
                        display: none;
                    }

                    &.email {

                    }

                    .icon{
                    }

                    .link-to-email {
                    }

                    .contact-link {
                    }
                }
            }
        }
    }
}