<footer id="contact" class="contact">
    <app-title-bar [title]="contactData['title']"></app-title-bar>
    <ul class="contact-info-container">
        <li class="contact-item tel">{{ contactData['tel'] }}</li>
        <span class="divider"></span>
        <li class="contact-item email">
            <a class="link-to-email" [href]="contactData['link-to-mail']"> {{ contactData['email'] }} </a>
        </li>
        <span class="divider"></span>
        <li class="contact-item linked-in"> 
            <a class="contact-link" target="_blank" href="https://www.linkedin.com/in/milou-geervliet-b40029264/">{{ contactData['linked-in'] }}</a>
        </li>
    </ul>
    <div class="contact-form-container">
        <img class="img" [src]="contactData['img']" [alt]="contactData['alt']">
    </div>
</footer>