<header class="header">
    <label class="hamburger-menu" >
        <input type="checkbox" (click)="toggleMenu()">
    </label>
    <ul id="menu" class="menu">
        <li class="list-item">
            <a href="#home" (click)="toggleMenu()" class="link">{{data["landing-page-title"]}}</a>
        </li>
        <li class="list-item">
            <a href="#about-me" (click)="toggleMenu()" class="link">{{data["about-me-title"]}}</a>
        </li>
        <li class="list-item">
            <a href="#skills" (click)="toggleMenu()" class="link">{{data["skills-title"]}}</a>
        </li>
        <li class="list-item">
            <a href="#projects" (click)="toggleMenu()" class="link">{{data["projects-title"]}}</a>
        </li>
        <li class="list-item">
            <a href="#contact" (click)="toggleMenu()" class="link contact">{{data["contact-title"]}}</a>
        </li>
    </ul>
</header>

