<header class="header">
    <label class="hamburger-menu" >
        <input type="checkbox" (click)="toggleMenu(menu)">
    </label>
    <ul #menu class="menu">
        <li class="list-item">
            <a href="#home" (click)="toggleMenu(menu)" class="link">{{headerData["landing-page-title"]}}</a>
        </li>
        <li class="list-item">
            <a href="#about-me" (click)="toggleMenu(menu)" class="link">{{headerData["about-me-title"]}}</a>
        </li>
        <li class="list-item">
            <a href="#skills" (click)="toggleMenu(menu)" class="link">{{headerData["skills-title"]}}</a>
        </li>
        <li class="list-item">
            <a href="#projects" (click)="toggleMenu(menu)" class="link">{{headerData["projects-title"]}}</a>
        </li>
        <li class="list-item">
            <a href="#contact" (click)="toggleMenu(menu)" class="link contact">{{headerData["contact-title"]}}</a>
        </li>
    </ul>
</header>

