<header class="header">
    <ul class="menu">
        <li class="listItem">
            <a href="#home" class="link">{{data["landing-page-title"]}}</a>
        </li>
        <li class="listItem">
            <a href="#about-me" class="link">{{data["about-me-title"]}}</a>
        </li>
        <li class="listItem">
            <a href="#skills" class="link">{{data["skills-title"]}}</a>
        </li>
        <li class="listItem">
            <a href="#projects" class="link">{{data["projects-title"]}}</a>
        </li>
        <li class="listItem">
            <a href="#contact" class="link contact">{{data["contact-title"]}}</a>
        </li>
    </ul>

    <aside class="mobile-menu-wrapper">
        <button id="button" class="button" (click)="openMenu()"><i class="fa-solid fa-bars"></i></button>
        <ul id="mobile-menu" class="mobile-menu hidden">
            <li class="mobile-item">
                <a href="" class="mobile-link">{{data["landing-page-title"]}}</a>
            </li>
            <li class="mobile-item">
                <a href="" class="mobile-link">{{data["about-me-title"]}}</a>
            </li>
            <li class="mobile-item">
                <a href="" class="mobile-link">{{data["skills-title"]}}</a>
            </li>
            <li class="mobile-item">
                <a href="" class="mobile-link">{{data["projects-title"]}}</a>
            </li>
            <li class="mobile-item">
                <a href="" class="mobile-link">{{data["contact-title"]}}</a>
            </li>
        </ul>
    </aside>
</header>