.projects{
    width: 100%;
    height: 50rem;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .project-container{
        display: flex;
        width: 100%;
        height: 100%;
        background: green;

        .project-list-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
            height: 100%;
            background: purple;

            .project-menu{
                list-style: none;
                width: 22rem;
                height: 35rem;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 10px;
                }

                &::-webkit-scrollbar-track {
                    background: transparent;
                }

                &::-webkit-scrollbar-thumb {
                    background: #1408f4;
                    border-radius: 10px;
                }

                .project-names{
                    text-align: center;
                    width: 80%;
                    margin-bottom: 3rem;
                    height: 6rem;
                    background: white;
                    font-size: 2rem;
                    border-radius: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: .3rem solid black;

                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }

        .project-detail-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            flex: 2.3;
            background: yellow;

            .project-details{
                border-radius: 2.3rem;
                border: .3rem solid black;
                display: flex;
                width: 80%;
                height: 90%;

                .project-imgs{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    flex: 1;
                    background: red;
                    border-top-left-radius: 2rem;
                    border-bottom-left-radius: 2rem;

                    .big-img{
                        border: .3rem solid black;
                        border-radius: 2rem;
                        position: absolute;
                        top: 5%;
                        left: 5%;
                        height: 25rem;
                        width: 28rem;
                        background: blue;
                    }

                    .small-img{
                        border: .3rem solid black;
                        border-radius: 2rem;
                        position: absolute;
                        bottom: 5%;
                        right: 5%;
                        height: 17rem;
                        width: 17rem;
                        background: green;
                    }

                }

                .project-info{
                    padding: 1rem;
                    flex: 1;
                    display: flex;
                    text-align: center;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    gap: 2rem;
                    background: blue;
                    border-top-right-radius: 2rem;
                    border-bottom-right-radius: 2rem;

                    .project-header-wrapper{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        gap: 1rem;
                    }

                    .github-link{
                        width: 10rem;
                        height: 4rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 106.25rem) { //1700
    .projects{

        .project-container{

            .project-list-wrapper{

                .project-menu{

                    .project-names{
                        width: 85%;
                    }
                }
            }

            .project-detail-wrapper{

                .project-details{

                    .project-imgs{

                        .big-img{
                            height: 22rem;
                            width: 25rem;
                        }

                        .small-img{
                            bottom: 11%;
                            right: 5%;
                            height: 15rem;
                            width: 15rem;
                        }

                    }

                    .project-info{

                        .project-header-wrapper{

                        }

                        .github-link{

                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 93.75rem) { //1500
    .projects{

        .project-container{

            .project-list-wrapper{
                flex: none;
                width: 22%;
                .project-menu{

                    .project-names{

                    }
                }
            }

            .project-detail-wrapper{

                .project-details{
                    width: 85%;
                    .project-imgs{

                        .big-img{
                            height: 22rem;
                            width: 25rem;
                        }

                        .small-img{
                            bottom: 11%;
                            right: 5%;
                            height: 15rem;
                            width: 15rem;
                        }

                    }

                    .project-info{

                        .project-header-wrapper{

                        }

                        .github-link{

                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 71.875rem) { //1150
    .projects{
        .project-container{
            .project-list-wrapper{
                .project-menu{
                    .project-names{
                    }
                }
            }

            .project-detail-wrapper{
                .project-details{
                    width: 92.5%;
                    .project-imgs{
                        .big-img{
                            height: 20rem;
                            width: 23rem;
                        }
                        .small-img{
                        }
                    }

                    .project-info{
                        .project-header-wrapper{
                        }
                        .github-link{
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 100rem) { //1000
    .projects{
        .project-container{
            .project-list-wrapper{
                .project-menu{
                    .project-names{
                    }
                }
            }

            .project-detail-wrapper{
                .project-details{

                    .project-imgs{
                        .big-img{

                        }
                        .small-img{
                        }
                    }

                    .project-info{
                        .project-header-wrapper{
                        }
                        .github-link{
                        }
                    }
                }
            }
        }
    }
}