@use "./../../../variables.scss";

.projects {
    background: variables.$backgroundAlternative;
    width: 100%;
    padding: variables.$paddingSections;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: variables.$box-shadow;
    position: relative;
    gap: 2rem;
    color: variables.$colorText;

            &.hidden{
            opacity: 0;
            filter: blur(.3rem);
            transform: translateX(10%);
            transition: all 1.5s;
        }

        &.show{
            filter: blur(0);
            transform: translateX(0);
            opacity: 1;
        }

        @media(prefers-reduced-motion){
            &.hidden{
                transition: none;
            }
        }

        .description{
            padding: 0rem 2rem;
            text-align: center;
        }

    .project-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        height: 100%;
        gap: 2rem;

        .description {
            padding: 1rem 2rem;
            color: variables.$colorText;
        }

        .project-list-wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 20%;
            height: 100%;

            .project-menu {
                list-style: none;
                width: 22rem;
                height: 35rem;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 10px;
                }

                &::-webkit-scrollbar-track {
                    background: transparent;
                }

                &::-webkit-scrollbar-thumb {
                    background: #E8BCB9;
                    border-radius: 10px;
                }

                .project-names {
                    color: variables.$colorHeader;
                    background: variables.$colorHeader;
                    text-align: center;
                    width: 80%;
                    margin-bottom: 2rem;
                    height: 6rem;
                    font-size: 2rem;
                    border-radius: 2rem;
                    @include variables.flexCenter;
                    border: .3rem solid variables.$colorHeader;
                    transition: all .5s ease;

                    &:hover {
                        cursor: pointer;
                        background: #1D1A39;
                    }

                        .project-name{
                            color: white;
                        }
                }
            }
        }

        .project-detail-wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            height: 100%;
            flex: 2.3;

            .project-details {
                border-radius: 2.3rem;
                border: .3rem solid variables.$colorBorder;
                display: flex;

                .project-images {
                    padding: 0rem 2rem;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    flex: 1;
                    border-top-left-radius: 2rem;
                    border-bottom-left-radius: 2rem;

                    .img {
                        border: .3rem solid variables.$colorBorder;
                        border-radius: 2rem;
                        height: 25rem;
                        width: 28rem;
                        object-fit: cover;
                    }
                }

                .project-info {
                    padding: 1.2rem 2rem;
                    flex: 1;
                    display: flex;
                    text-align: center;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    gap: 2rem;
                    border-top-right-radius: 2rem;
                    border-bottom-right-radius: 2rem;

                    .project-header-wrapper {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        gap: 1rem;

                        .title {
                            color: variables.$colorHeader;
                        }

                        .programming-language-wrapper {
                            color: variables.$colorText;
                        }

                        .date {
                            color: variables.$colorText;
                        }
                    }

                    .project-description {
                        color: variables.$colorText;
                    }

                    .button-wrapper {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 1.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 93.75rem) {

    //1500px
    .projects {
        .project-container {

            .project-list-wrapper {

                .project-menu {
                    .project-names {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 75rem) {

    //1200px
    .projects {
        gap: 2rem;

        .project-container {
            .project-detail-wrapper {
                .project-details {
                    flex-wrap: wrap;
                    height: fit-content;

                    .project-images {
                        padding: 1.5rem;
                        flex-direction: unset;
                        align-items: center;

                        .img {
                            width: 25rem;
                        }
                    }

                    .project-info {
                        .button-wrapper {
                            justify-content: center;
                            gap: 5rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 65.625rem) {

    //1050px
    .projects {
        gap: 2rem;

        .project-container {
            gap: unset;

            .project-list-wrapper {
                width: 22%;

                .project-menu {
                    .project-names {
                        width: 90%;
                    }
                }
            }

            .project-detail-wrapper {
                .project-details {
                    flex-wrap: wrap;
                    height: fit-content;
                    width: 94%;

                    .project-images {
                        padding: 1.5rem;
                        flex-direction: unset;

                        .img {
                            width: 25rem;
                        }
                    }

                    .project-info {
                        .project-header-wrapper {
                            .title {}

                            .programming-language-wrapper {}

                            .date {}
                        }

                        .project-description {}

                        .button-wrapper {
                            justify-content: center;
                            gap: 5rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 50rem) { //800px
    .projects {
        height: fit-content;

        .project-container {
            flex-wrap: wrap;
            gap: 2rem;

            .project-list-wrapper {
                display: flex;
                justify-content: center;
                width: 100%;

                .project-menu {
                    width: 65%;
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    gap: 2rem;
                    height: 10rem;
                    overflow-x: scroll;

                    .project-names {
                        min-width: 12rem;
                        margin-bottom: 0rem;
                    }
                }
            }

            .project-detail-wrapper {
                .project-details {
                    flex-wrap: wrap;
                    height: fit-content;
                    width: 94%;
                    padding: 1rem 0rem;

                    .project-images {
                        padding: 1.5rem;
                        flex-direction: unset;

                        .img {
                            width: 25rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 40.625rem){ // 650px
    .projects {
        .project-container {
            .project-detail-wrapper {
                justify-content: center;
                .project-details {
                    flex-wrap: wrap;
                    height: fit-content;
                    width: 94%;

                    .project-images {
                        padding: 1.5rem;
                        flex-direction: unset;

                        .img {
                            width: 25rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 31.25rem){ // 500px
    .projects {
        .project-container {
            .project-detail-wrapper {
                .project-details {
                    .project-info {
                        .project-header-wrapper {
                            .title {
                                font-size: 2rem;
                            }
                        }

                        .project-description {}

                        .button-wrapper {
                            gap: 2rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 28.125rem){ // 350px
    .projects {

        .project-container {

            .project-detail-wrapper {
                .project-details {
                    .project-info {
                        .project-description {}

                        .button-wrapper {
                            gap: 2rem;
                        }
                    }
                }
            }
        }
    }
}

