<section id="home" class="landing-page">
    <div class="container">
        <div class="left">
            <p class="intro">
                Ik ben Milou een <span class="word">Front-end</span> Web Developer
            </p>
            <p class="small-intro">
                {{data["small-intro"]}}
            </p>
        </div>
        <div class="right">
                <img src="" alt="Images about myself" class="img">
        </div>
    </div>
</section>

<!-- <section class="landing-page">
    <div>
        <article class="container">
            <p class="intro">
                Ik ben Milou een <span class="word">Front-end</span> Web Developer
            </p>
            <p class="small-intro">
                Een Front-End Developer die zich bezig houdt met het schrijven van nette en efficiënte code
            </p>
        </article>
    </div>

    <figure class="figure"></figure>
</section> -->