<section id="home" class="landing-page">
    <div class="container">
        <div class="left">
            <p class="intro">
                {{data["first-sentence"]}}
                <span class="word">{{data['word']}}</span>
                {{data["last-sentence"]}}
            </p>
            <p class="small-intro">
                {{data["small-intro"]}}
            </p>
        </div>
        <figure class="line"></figure>
        <div class="right">
                <img src="" alt="Images about myself" class="img">
        </div>
    </div>
</section>