.main-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
}


@media screen and (max-width: 78.125rem) { //1250
    .main-wrapper{

        .wrapper{
            width: 90%;
        }
    }
}

@media screen and (max-width: 50rem) { //800
    .main-wrapper{

        .wrapper{
            width: 95%;
        }
    }
}
