.button{
    width: 12rem;
    padding: .75rem;
    background: none;
    border: .3rem solid black;
    border-radius: 1rem;
    .link{
        font-size: 1.6rem;
        text-decoration: none;
        color: white;
    }

    &:hover{
        cursor: pointer;
    }
}