@use "./../../../variables.scss";

.button{
    width: 12rem;
    padding: .75rem;
    background: none;
    border: .3rem solid variables.$colorBorder;
    border-radius: 1rem;

    .link{
        font-size: 1.6rem;
        text-decoration: none;
        color: variables.$colorText;
    }

    &:hover{
        cursor: pointer;
        transform: scale(1.05);
        
    }
}