@use "./../../../variables.scss";

.button{
    width: 12rem;
    padding: .75rem;
    background: none;
    border: .3rem solid variables.$colorBorder;
    border-radius: 1rem;
    transition: .2s all ease-in-out;

    &.disabled{
        border: .3rem dashed variables.$colorBorder;
        opacity: .5;

        &:hover,
        .link:hover{
            cursor: default;
            transform: unset;
        }
    }

    .link{
        font-size: 1.6rem;
        text-decoration: none;
        color: variables.$colorText;
    }

    &:hover{
        cursor: pointer;
        transform: scale(1.05);
    }
}

@media screen AND (max-width: 23.75rem){ // 380px
    .button{
        width: 10rem;
    }
}

@media screen AND (max-width: 21.25rem){ // 340px
    .button{
        width: 9rem;
    }
}