<section id="skills" #section class="skills hidden">
    <app-title-bar [title]="skillsData['title']"></app-title-bar>
    <p class="description">{{skillsData['introduction']}}</p>
    <p class="description-mobile">{{skillsData['introduction-mobile']}}</p>
    <summary class="summary">{{skillsData[activeSummary]}}</summary>
    <div class="container">
        <img (mouseover)="setActiveSummary('html-text')" id="img-html" class="img" src="./../../../assets/img/html.png" alt="">
        <img (mouseover)="setActiveSummary('scss-text')" id="img-scss" class="img" src="./../../../assets/img/scss.png" alt="">
        <img (mouseover)="setActiveSummary('js-text')" id="img-js" class="img" src="./../../../assets/img/js.png" alt="">
        <img (mouseover)="setActiveSummary('angular-text')" id="img-angular" class="img" src="./../../../assets/img/angular.png" alt="">
        <img (mouseover)="setActiveSummary('react-text')" id="img-react" class="img" src="./../../../assets/img/react.png" alt="">
    </div>
</section>

<!-- TODO: Change introduction for mobile -->