$background: #1D1A39;
$green: #538200;

$colorHeader: #E8BCB9;
$colorText: #f9edec;
$buttonBackground: #f9edec;
$colorBorder: #E8BCB9;

$paddingSections: 2rem 0rem;

//TODO: Look at adobe color

$header:(
    "color": #fff,
    "background": rgba(0, 0, 0, .05)
);

$contactFont: 1.6rem;


