$background: #B7E3F7;

$fontSizeDesktop:(
    // "intro":
    "h1": 1.6rem,
    "p": 1.45rem
);

$fontSizeMobile:(
    "h1": 1.3rem
);

$header:(
    "color": #fff,
    "background": rgba(0, 0, 0, .05)
);