$background: #1D1A39;
$backgroundAlternative: #221f42;
$green: #538200;

$colorHeader: #E8BCB9;
$colorText: #f9edec;
$buttonBackground: #f9edec;
$colorBorder: #E8BCB9;
$linear-gradient: linear-gradient(#D95D30, #F2B33D);
$box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, .1);

$paddingSections: 5rem 0rem;

//TODO: Look at adobe color

$header:(
    "color": #fff,
    "background": rgba(0, 0, 0, .3)
);

@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
};

@mixin flexColumn{  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column
};

$contactFont: 1.6rem;


